
{% extends "block_hf.html" %}
{% load static %}
{% load cart_tag %}
{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5" style="background: url({% static 'img/images/heading_1.jpg' %}); background-position: center center;
background-repeat: no-repeat;
background-size: cover;">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <!-- <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol> -->
</div>
<!-- Single Page Header End -->


<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form action="{% url 'place_order'%}" method="post">
            {% csrf_token %}
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <b><label class="form-label my-3">First Name</label></b>
                                <input type="text" class="form-control" name="firstname" value="{{user.first_name}}" readonly>
                                <input type="text" class="form-control" name="order_id" value="{{order_id}}" hidden>
                                <input type="text" class="form-control" name="payment" value="{{payment}}" hidden>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <b><label class="form-label my-3">Last Name</label></b>
                                <input type="text" class="form-control" name="lastname" value="{{user.last_name}}" readonly>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-item">
                        <label class="form-label my-3">Address </label>
                        <input type="text" class="form-control" name="address" placeholder="House Number Street Name"><br>
                        <input type="text" class="form-control" name="address" placeholder="Appartment name">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">City</label>
                        <input type="text" name="city" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">State</label>
                        <input type="text" name="state" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Postcode</label>
                        <input type="text" name="postcode" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Country</label>
                        {% comment %} <input type="text" name="country" > {% endcomment %}
                        <select name="country" id=""class="form-control">
                            <option value="India">---Select Your Country---</option>
                            <option value="India">India</option>
                            <option value="India">Bhutan</option>
                            <option value="India">Nepal</option>
                            <option value="India">Myanmar</option>
                        </select>
                    </div>  
                    <div class="form-item">
                        <label class="form-label my-3">Mobile</label>
                        <input type="tel" name="phone" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Email Address</label>
                        <input type="email" name="email" class="form-control" value="{{user.email}}" readonly>
                    </div>
                    
                   
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr> 
                            </thead>
                            <tbody>
                                
                             {% for key,value in request.session.cart.items %}
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="{{value.image}}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div> 
                                    </th>
                                    <td class="py-5">{{value.name | truncatewords:7}}</td>
                                    <td class="py-5">Rs.{{value.price}}</td>
                                    <td class="py-5">{{value.quantity}}</td>
                                    <td class="py-5">Rs.{{ value.price|multiply:value.quantity }}</td>
                                </tr>
                             {% endfor %}


                                {% comment %} <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="{% static '/img/images/mancat_1.jpeg' %}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div> 
                                    </th>
                                    <td class="py-5">Logo T-shirts</td>
                                    <td class="py-5">Rs.899</td>
                                    <td class="py-5">1</td>
                                    <td class="py-5">Rs.899</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="{% static '/img/images/manshop_1.jpeg' %}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">Denim Jacket</td>
                                    <td class="py-5">Rs.1499</td>
                                    <td class="py-5">1</td>
                                    <td class="py-5">Rs.1499</td>
                                </tr>
                                
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">Rs.3647</p>
                                        </div>
                                    </td>
                                </tr> {% endcomment %}
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            {% comment %} <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1" name="Paypal" value="Paypal">
                                <label class="form-check-label" for="Paypal-1">UPI Payments</label>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="mb-0 me-4">Subtotal:</h5>
                        <div class="hw" style="border: 0px;">

                            <p class="mb-0" style="transform: translateX(135px);">Rs.<input style="border: 1px solid transparent;" class="mb-0" type="text" name="amount" id="" value="{{cart_total_amount}}" readonly> </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-0 me-4">Taxes</h5>
                        <div class="">
                            <p class="mb-0">Rs.113</p>
                        </div>
                    </div><br>
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-0 me-4">Shipping</h5>
                        <div class="">
                            <p class="mb-0">Rs.100</p>
                        </div>
                    </div><br>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0  me-4">Grand Total</h5>
                        <p class="mb-0 "><b>Rs.{{cart_total_amount | add:113 | add:100}} </b></p>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <a href=""><button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Continue</button></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->


{% endblock content %}