{% extends 'block_hf.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}
  

{% comment %} <br><br>

<div> 
                
    <br><br><br>
    <center>
        <h1 class="mb-4"><br>
            <img src="{% static 'img/thanku.jpg'%}" alt="">
            {% comment %} <i class="fa fa-shopping-bag fa-2x"></i>
        </h1>
        <h1 class="mb-4"> <br>Thank You for ordering in our store.</h1>
        <a href="{% url 'shop' %}">
            
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button"><i class="fa fa-arrow-left"></i>&nbsp;Continue Shopping</button>
        </a>
    </center>

</div> {% endcomment %}







<div> 
    <br><br><br>
    <center>
        <h1 class="mb-4"><br>
            <img src="{% static 'img/succes/thanku.jpg'%}" alt="">
            {% comment %} <i class="fa fa-shopping-bag fa-2x"></i> {% endcomment %}
        </h1>
        <h1 class="mb-4"> <br>Thank You for ordering in our store.</h1>
        <form id="clear-cart-form" action="{% url 'cart_clear' %}" method="post">
            {% csrf_token %}
            <a href="{% url 'shop'%}"><button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="submit"><i class="fa fa-arrow-left"></i>&nbsp;Continue Shopping</button></a>
        </form>
    </center>
</div>



{% endblock %}
<script>
    document.getElementById("clear-cart-form").addEventListener("submit", function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        // Submit the form
        this.submit();

        // Redirect to the shop page after a short delay (optional)
        setTimeout(function() {
            window.location.href = "{% url 'shop' %}";
        }, 500); // Change the delay time as needed
    });
</script>