
{% extends "block_hf.html" %}
{% load static %}
{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5" style="background: url({% static 'img/images/heading_1.jpg' %}); background-position: center center;
background-repeat: no-repeat;
background-size: cover;">
<h1 class="text-center text-white display-6">Shop</h1>
<!-- <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Checkout</li>
</ol> -->
</div>
<!-- Single Page Header End -->


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Fashion Wear</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                     <form action="/sea" method="get">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input  class="form-control p-3" aria-describedby="search-icon-1" name="query" id="query" type="text" placeholder="Search">
                            <button class="hello" style="border: 0px; border-radius: 3px;" type="submit" ><span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search" ></i></span></button>
                        </div>
                     </form>
                    </div>
                    <div class="col-6"></div>
                   
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    {% comment %} <ul class="list-unstyled fruite-categorie"> {% endcomment %}
                                        {% comment %} <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="shop"><i class="fas fa-apple-alt me-2"></i>All Products</a>
                                            </div>
                                        </li> {% endcomment %}
                                     <ul >
                                        <li><a href="shop">All Products</a></li><br>
                                      {% for cat in categories%}
                                        <li>
                                            {% comment %} <div class="d-flex justify-content-between fruite-name"> {% endcomment %}

                                            
                                                        <a href="/shop?categories={{cat.id}}">{{cat.name}}</a>
                                                
                                            {% comment %} </div> {% endcomment %}
                                        </li><br>

                                      {% endfor %}
                                     </ul>  
                                        
                                    {% comment %} </ul> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                 {% for f_price in filter_price%}
                                  <ul>
                                        <li>
                                        <a href="/shop?filter_price={{f_price.id}}">{{f_price.price}}</a>
                                            
                                    </li>
                                  </ul>
                                 {%endfor%}
                                    
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Brands</h4>
                                 <ul>
                                    <li> 
                                        <a href="shop" class="selected m-0">All Brands</a>
                                    </li><br>
                                 {%for br in brand%}

                                    <li> 
                                        <a href="/shop?brand={{br.id}}" class="">{{br.name}}</a>
                                    </li><br>
                                 {% endfor %}

                                 </ul>
                                        
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                     {% comment %} <img src="{% static '/img/images/2.jpeg' %}" class="img-fluid w-100 rounded" alt=""> {% endcomment %}
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <!-- <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">

                         {% for prod in product %}
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="rounded position-relative fruite-item">
                                    <div class="fruite-img">
                                        <a href="/shop{{prod.id}}"><img src="{{prod.image}}" class="img-fluid w-100 rounded-top" alt=""></a>
                                    </div>
                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{prod.sub_category}}</div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4>{{prod.brand}}</h4>
                                        <p>{{prod.name}}</p>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0"><b>Rs.{{prod.price}}</b></p>
                                            <a href="{% url 'cart_add' prod.id %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         {% endfor %}

                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fruits Shop End-->



{% endblock content %}